/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.image-card {
    margin-bottom: 30px;
    text-align: center;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.image-card img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333; /* Adjusted color for consistency */
}

/* Index page styles */
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="file"] {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Result page styles */
.color-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-box {
    width: 200px;
    height: 150px;
    margin: 10px;
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
}

.upload-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-link:hover {
    background-color: #0056b3;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
}